################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DSA/DesignTimeBuild/.dtbcache.v2
/DSA.Tests/bin/Release/net7.0
*.sqlite
/.vs/VSWorkspaceState.json
/DSA.Tests/obj/Debug/net7.0/DSA.Tests.csproj.AssemblyReference.cache
/.vs/DSA/v17/.suo
